<div class="container-fluid">
  <div class="row merged d-flex justify-content-center align-items-center sign">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 d-flex justify-content-center align-items-center">
      <div class="land-featurearea">
        <div class="land-meta">
          <h1>SmarTrash</h1>
          <p>
            A Smart waste bin platform that aim to make a city cleaner and sensitize people through challenges
          </p>
          <div class="friend-logo">
            <span><img src="assets/images/wink.png" alt=""></span>
          </div>
          <a href="#" title="" class="folow-me">Follow Us on</a>
        </div>	
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 d-flex justify-content-center align-items-center">
      <div class="login-reg-bg">
        <div class="log-reg-area">
          <h2 class="log-title">Login</h2>
            <p>
              Don’t use Smart Yet? <a href="#" title="">Take the tour</a> or <a href="#" title="">Join now</a>
            </p>
          <form method="post">
            <div class="form-group">	
              <input type="text" id="input" required="required"/>
              <label class="control-label" for="input">Username</label><i class="mtrl-select"></i>
            </div>
            <div class="form-group">	
              <input type="password" required="required"/>
              <label class="control-label" for="input">Password</label><i class="mtrl-select"></i>
            </div>
            <div class="checkbox">
              <label>
              <input type="checkbox" checked="checked"/><i class="check-box"></i>Always Remember Me.
              </label>
            </div>
            <a href="#" title="" class="forgot-pwd">Forgot Password?</a>
            <div class="submit-btns">
              <button class="mtr-btn signin" type="button"><span>Login</span></button>
              <button class="mtr-btn signup" type="button"><span>Register</span></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
