                 <!-- Buttons ICI -->
                 <div class="template-demo d-flex justify-content-around flex-nowrap mt-4">
                  <button type="button" 
                    (click)="lightIsActive = !lightIsActive"
                    [ngClass]="{'active': lightIsActive}" 
                    class="btn-sensor btn-sensor-light">
                    <i class="mdi mdi-lightbulb"></i>                     
                  </button>
                    <!-- Special classes made for this type of button : btn-sensor -->
                  <button type="button" 
                    (click)="sofaIsActive = !sofaIsActive"
                    [ngClass]="{'active': sofaIsActive}" 
                    class="btn-sensor btn-sensor-sofa">
                    <i class="mdi mdi-sofa"></i>
                  </button>
                </div>
                <div class="template-demo d-flex justify-content-around flex-nowrap mt-4">
                  <button type="button" 
                    (click)="kitchenIsActive = !kitchenIsActive"
                    [ngClass]="{'active': kitchenIsActive}"
                    class="btn-sensor btn-sensor-kitchen">
                    <i class="mdi mdi-silverware-variant"></i>
                  </button>
                  <button type="button" 
                    (click)="spotlightIsActive = !spotlightIsActive"
                    [ngClass]="{'active': spotlightIsActive}"
                    class="btn-sensor btn-sensor-spotlight">
                    <i class="mdi mdi-spotlight-beam "></i>                          
                  </button>
                </div>