<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="#" class="nav-link">
        <div class="nav-profile-image">
          <img src="assets/images/faces/face1.jpg" alt="profile">
          <span class="login-status online"></span> <!--change to offline or busy as needed-->              
        </div>
        <div class="nav-profile-text d-flex flex-column">
          <span class="font-weight-bold mb-2">Diams Danzé</span>
        </div>
        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
      </a>
    </li>
    <li class="nav-item" (click)="onUpdateStartToActive()" [ngClass]="{'active': active === ''}">
      <a class="nav-link" routerLink="/">
        <span class="menu-title">Start</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" (click)="onUpdateProfileToActive()" [ngClass]="{'active': active === 'profile'}">
      <a class="nav-link" routerLink="/profile" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-title">Profile</span>                            
        <i class="mdi mdi-timetable menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" (click)="onUpdateSettingsToActive()" [ngClass]="{'active': active === 'settings'}">
      <a class="nav-link" routerLink="/settings" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-title">Settings</span>                            
        <i class="mdi mdi-timetable menu-icon"></i>
      </a>
    </li>
  </ul>
</nav>