<nav class="navbar col-lg-12 col-12 p-0 d-flex flex-row justify-content-center">
  <div class="row">
    <div class="col-2 p-0">
      <div class="camera__icon d-flex justify-content-center align-items-center" >
          <a routerLink="/picture"><i class="mdi mdi-camera"></i></a>
      </div>
    </div>
    <div class="col-10 pr-1">
      <button type="button" class="btn btn-lg btn__form__post">Want to share something ?</button>
    </div>
  </div>

    
</nav>
<div class="main">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda repellat cumque animi odit, quod, aspernatur quo iusto ipsa rerum eum, pariatur laborum tenetur! Recusandae omnis explicabo eius quod nemo asperiores!
</div>
