<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title">
      <span class="page-title-icon bg-gradient-primary text-white mr-2">
        <i class="mdi mdi-timetable"></i>                 
      </span>
      <span class="text-grayMat">Historique</span>
    </h3>
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
          <span class="mr-1">Résumé</span>
          <i class="mdi mdi-eye icon-sm text-primary align-middle"></i>                  
        </li>
      </ul>
    </nav>
  </div>

    <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-5">
                <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <button class="btn btn-md btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filtre</button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item fadeInDown" href="#">Liste des entrées</a>
                          <a class="dropdown-item fadeIn1" href="#">Liste des sorties</a>
                          <a class="dropdown-item fadeIn2" href="#">Liste des inconnus</a>
                        </div>
                      </div>
                    </div>
                  </div>                     
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-7">
                <div class="form-group">                                                
                    <div class="input-group clearfix">
                        <input class="form-control calendar" style="background-color: white" id="date" name="date" placeholder="Selectionnez une date..." type="text">
                        <div class="input-group-addon input-group-append">
                            <span class="input-group-text bg-primary text-white"><i class="mdi mdi-timetable"></i></span>
                        </div>
                    </div>
                </div>                
        </div>
        <div class="col-xl-4 offset-xl-3 col-lg-4 offset-lg-2 col-md-5 offset-md-1 col-12">
                <div class="form-group">
                <div class="input-group">
                  <input type="text" class="form-control search-input" placeholder="Rechercher des évènements" style="border-radius: 30px 0 0 30px; border-style: none">
                  <div class="input-group-append">
                    <span class="input-group-text bg-white search-input-append" style="border-radius: 0 30px 30px 0; border: 3px solid white"><i class="mdi mdi-magnify text-primary" style=""></i></span>
                  </div>                        
                </div>
              </div>                 
        </div>
    </div>         

<!-- Timeline -->   
        <section id="cd-timeline" class="cd-container fadeIn" style="animation-duration: 0.5s">
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-entry">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>Maman arrive à la maison</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>                        
                <span class="cd-date"><i class="mdi mdi-clock"></i> 08:14, Aujourd'hui</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-entry">                        
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>Papa arrive à la maison</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde?</p>                        
                <span class="cd-date"><i class="mdi mdi-clock"></i> 08:18, Aujourd'hui</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block fadeIn">
            <div class="cd-timeline-img cd-exit">                        
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>Maman sort de la maison</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem doloremque dolorem ipsam quae rerum quis.</p>                        
                <span class="cd-date"><i class="mdi mdi-clock"></i> 08:24, Aujourd'hui</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-exit">                        
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>Toto sort de la maison</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
                <span class="cd-date"><i class="mdi mdi-clock"></i> 09:14, Aujourd'hui</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-unknown">                        
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>Un inconnu est devant la porte</h2>
                <p>This is the content of the last section</p>
                
                    <img src="assets/images/unknown.jpg" class="img-responsive"style="">
                
                
                <span class="cd-date"><i class="mdi mdi-clock"></i> 09:26, Hier</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-entry">                        
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>Papa arrive à la maison</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde?</p>                        
                <span class="cd-date"><i class="mdi mdi-clock"></i> 08:18, Aujourd'hui</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->                    
</section> <!-- cd-timeline -->

<!-- Timeline -->   
    
  </div>